@model Teatru.Models.Bilet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bilet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="spectacol" class="control-label"></label>
                <select asp-for="spectacol">
                    @foreach (var std in ViewData["numeSpectacole"] as IList<string>)
                    {
                        <option value=@std>@std</option>
                    }
                </select>
                <span asp-validation-for="spectacol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rand" class="control-label"></label>
                <input asp-for="rand" class="form-control" />
                <span asp-validation-for="rand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numar" class="control-label"></label>
                <input asp-for="numar" class="form-control" />
                <span asp-validation-for="numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
